---
import { Code } from 'astro/components';
import HelloWorld from "../components/HelloWorld";
import Addition from "../components/Addition";
import "./styles.css";

const guis = {
  HelloWorld,
  Addition
};
---

<main>
  <h1>AS GUIs</h1>
  <ul>
    <li>
      <a href="https://github.com/SarcevicAntonio/as-guis/">
        Visit project repo
        </a>
    </li>
  </ul>
  
  <section class="articles">
  {
    Object.entries(guis).map(([gui, frameworks]) => (
        <article>
          <h2>&lt;{gui}/&gt; <a href={`https://github.com/SarcevicAntonio/as-guis/tree/main/src/pages/components/${gui}`}>browse</a></h2>
          {Object.entries(frameworks).map(
            ([framework, { demo: Demo, code }]) => {
              
              const lang = framework === 'react' ? 
                  'tsx'
                   : framework
              return (

              <h3>
                {gui}.{lang}
                </h3>
                <Demo client:visible />

                <Code code={code} lang={lang as any}/>
            )}
          )}
        </article>
        ))
      }
      </sect>
</main>
